body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
    align-items: center;
}

.tab {
  height: 100%;
  /*width: 95%;*/
  display: flex;
  flex-direction: column;
  align-content: center;
}



.tab-body {
    height: 90%;
}

.log-section {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.3em;
  border: 5px solid #ced4da;
  padding: 1em;
  /*max-width: 90%;*/
  margin: 0;
}




.button {
  background-color: #007bff;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #004799;
}

.button.disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  pointer-events: none; /* Prevent interaction */
}

.inputContainer {
  border: 1px solid #ced4da;
  /*border-radius: 0.25rem;*/
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.inputContainer:focus {
  border-color: #007bff;
  outline: none;
}

.borderless-frame {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  /*align-items: center;*/
  box-sizing: border-box;
  border: 0;
  padding: 1em;
  height: 100%;
  width: 98%;
  margin: 0;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.3em;
  border: 5px solid #ced4da;
  padding: 1em;
  height: 90%;
  /*max-width: 90%;*/
  margin: 0;
}

.clickable-container {
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  border-radius: 0.3em;
  border: 1px solid #ced4da;
  padding: 1em;
  margin: 0;
}

.logContainer {
  display: flex;
  flex-direction: column; /* Stack containers vertically */
  /*gap: 1px; !* Optional: Add spacing between containers *!*/
  overflow-y: auto;
  margin: 0;
  width: 100%;
  height: 100%;
  /*border-radius: 0.3em;*/
    /*border: 5px solid #ced4da;*/
  /*padding: 1em;*/
  /*max-height: 200px;*/
  font-family: "JetBrains Mono", "Cascadia Mono", monospace;
  box-sizing: border-box;  /* Optional: Includes padding and border in width calculation */
}

.logContainer.inlineStyle {
  display: block flow;
}

.messageContainer {
  position: relative;
  display: flex; /* flex */
  flex-direction: column;
  gap: 1px;
  padding: 3px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #ced4da;
  /*margin-bottom: -1px;  !* Remove gap caused by border between containers *!*/
}

.inlineStyle .messageContainer {
  display: inline;
}

.inlineStyle .messageContainer::before {
  content: '\A';
    white-space: pre;
}

.messageContainer:last-child {
  border-bottom: 1px solid #ced4da;
}

.messageContainer:hover {
  background-color: #e0e0e080;
}

.messageContainer:hover .content span {
  background-color: #dddddd;
}

.messageContainer.mergedWithPrevious::before {
  content: '';
}

.messageContainer.mergedWithPrevious {
  display: inline;
  border-top: 1px solid transparent;
  margin-top: -8px;
  /*margin-top: 1px;*/
  /*overflow: clip;  !* clip the floating metaInfoContainer when the text is too short. Works only with position: relative, overflow: clip and metaInfoContainer.position: absolute *!*/
}

.messageContainer.mergedWithPrevious .metaInfoContainer {
  /*display: flex;*/
  display: none;
  /*visibility: hidden;*/

  position: absolute;
  clip-path: inset(0 0 0 0);
  right: 0;
  top: .2rem;

  background-color: #f0f0f0;
  border-radius: .3rem;

}

.messageContainer.mergedWithPrevious:hover {
  /*border-top: 1px solid #ced4da;*/
}

.messageContainer.mergedWithPrevious:hover .metaInfoContainer {
    display: flex;
    /*visibility: visible;*/
  animation: easeOut 12s ease-in-out 1;
  opacity: 0.01;
  /*color: transparent;*/
  background-color: #eaeaea;
}

.messageContainer.mergedWithPrevious .metaInfoContainer:hover {
  /*display: flex;*/
  /*visibility: visible;*/
  opacity: 0.8;
  animation: none;
  /*opacity: 0.1;*/
  /*animation: easeOut .5s ease-in-out 1;*/
}

.messageContainer.mergedWithPrevious .metaInfoContainer:has(.contentVisibilityButton:hover) {
  /*visibility: visible;*/
  /*background-color: red;*/
  /*transform: translateY(-50%);*/
  opacity: 1;
  animation: none;
}

@keyframes easeOut {
  0% {
    opacity: .8;
     /*color: inherit;*/
  }
  5% {
    opacity: .8;
    /*color: inherit;*/
  }
  10% {
    opacity: 0.1;
  }
    50% {
        opacity: 0.01;
      /*color: inherit;*/
    }
    100% {
        /*color: transparent;*/
    }
}

.metaInfoContainer {
  display: block;
  gap: 1ch;
  padding: 3px;
  color: gray;
  font-size: 0.875rem;
  /*margin-top: 1rem;*/
  font-family: 'Segoe UI', Tahoma, sans-serif;
  /*margin-bottom: -1px;*/
  /*background-color: #f0f0f0;*/
}

.metaInfoContainer.non-copyable {
  user-select: none;
}

.metaInfoContainer.non-copyable::after {
  /*content: '🚫';*/
  /*content: '🔒';*/
    content: 'meta-info non-copyable';
  font-size: 0.6rem;
  /* center vertically */
    display: flex;
    align-items: center;

  margin-right: 0.5ch;
}

.timestamp {
}

.logLevel {
  /* capitalize */
  display: inline-block;
  margin-left: 0.5ch;
    /*text-transform: capitalize;*/
}

img {
    max-width: 100%;
  height: auto;
}

.contentVisibilityButton {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-family: "JetBrains Mono", monospace
}

.contentVisibilityButton::before {
  content: ' | ';
}

.bookmarkButton {
  display: inline-block;
  position: relative;
  user-select: none;
  width: 1.2rem;
  white-space: pre;
  /*max-height: 100%;*/
  /*overflow: hidden;*/
}

.file-name {
  /* underline */
    text-decoration: underline !important;
  cursor: pointer;
}

.file-name:hover {
  color: #007bff !important;
}

.inner-bookmarkButton {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6c757d;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  transition: font-size 0.2s ease, color 0.2s ease;
}

.search-result {
  background-color: #f0f0f0 !important;

}

.search-result.current-search-result {
  background-color: #f0e0f0 !important;
  /*visibility: visible !important;*/
  /*opacity: 1 !important;*/
}

.search-result:hover {
  background-color: #f3f3f3 !important;

}

.search-result.current-search-result:hover {
  background-color: #f3e6f3 !important;
  /*visibility: visible !important;*/
  /*opacity: 1 !important;*/
}

.inner-bookmarkButton:hover {
  color: #007bff;
  font-size: 1.1rem;
}

.messageContainer.bookmarked {
  background-color: #f0e0f0;
}

/*.contentVisibilityButton:hover {*/
/*  */
/*}*/

.messageContentContainer {
  display: inline; /* Behaves like a single inline element */
  max-width: 100%; /* Optional: Restricts width for responsive wrapping */
  /*padding: 4px;*/
}


.messageContentContainer span {
  white-space: pre-wrap; /* Allows spans to break lines */
  word-wrap: anywhere; /* Ensures long words within spans can wrap */
  overflow-wrap: anywhere; /* Ensures long text breaks inside spans */
  /*margin-right: -1rem;*/
}

.content-breakable-span span {
  /* a round corner box */
  /*--background-color: #f0f0f0;*/
  /*line-height: 1.2;*/
  background-color: rgba(0, 0, 0, 0);
  /*border-radius: 1em;*/
  padding: 0 .4rem;
  margin: 0
  /*background-color: var(--background-color);*/
  /*margin: 5px 0;*/
}

.content span {
  --background-color: #f0f0f0;
  /* a round corner box */
  display: inline-block;
  border-radius: 1em;
  padding: 0.1rem .55rem;
  background-color: var(--background-color);
  margin: .1em -.1em;
  /*hyphens: auto;*/
}


.default {
  --foreground-color: #333333;
  color: var(--foreground-color);
}

.content-breakable-span span.default {
  padding: 0;
}

.content-breakable-span span.default span {
  padding: 0;
}

.content-breakable-span span.default span.indicator { padding: 0 0.2rem; margin: 0 0.04rem;}

.command {
  --foreground-color: darkorange;
  color: var(--foreground-color);
}

.exitCode {
    --foreground-color: #8486af;
    color: var(--foreground-color);
}

.args {
  /* used in <span> to show content */
  /*margin-top: 1rem;*/
  --foreground-color: #649f19;
  color: var(--foreground-color);
}

.number {
  --foreground-color: dodgerblue;
  color: var(--foreground-color);
}

.variable {
  --foreground-color: darkgoldenrod;
  color: var(--foreground-color);
}

.variable::first-letter {
  --foreground-color: brown;
  color: var(--foreground-color);
}


.input {
  /* used in <span> to show content */
  /* bold */
  /*font-weight: bold;*/
}

.input::before {
  content: '>';
  color: #007bff;
  margin-right: 0.5ch;
}

.input.custom-input-hint::before {
    content: '';
    color: #007bff;
    margin-right: 0.5ch;
}

.warning {
  color: #856404;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.error {
  color: #721c24;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.tab-head {
  margin: 0.4rem 0;
  display: flex;
  white-space: nowrap;
  /*width: fit-content;*/
  max-width: 100%;
  overflow-x: clip;
  overflow-y: hidden;
  min-height: 2rem;
  user-select: none;
  /* center vertically */
  align-items: center;
  ;
  justify-content: left;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*!*padding: 0.5rem;*!*/
  /*!*border-bottom: 1px solid #ced4da;*!*/
}

.tab-label-cover {
  width: 100%;
  height: 100%;
  background-color: white;
  content: '';
  z-index: 100;
  display: flex;
    align-items: center;
}

.tab-label-cover-board {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
    top: 0;
  z-index: 100;
  content: '';
}

.tab-add-button {
    background-color: #007bff;
    border: none;
    border-radius: 1rem;
    height: 1rem;
    flex-shrink: 0;
    width: 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    /*margin-top: 1rem;*/
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tab-close-button {
    background-color: #00000000;
    border: none;
    border-radius: 1rem;
    height: .5rem;
    flex-shrink: 0;
    width: .5rem;
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 0.2rem;
    font-weight: normal !important;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-close-button:hover {
    background-color: #e0e0e0;
}

.no-new-line-indicator::before {
  content: '↑';
}

.new-line-indicator {
  margin: 0;
  padding: 0;
  border: 0;
}



.inlineStyle .new-line-indicator::before {
  content: '\A';
    white-space: pre;
}

.new-line-indicator::before {
  content: '';
}

.tab-separator {
  user-select: none;
    color: #ced4da;
  font-size: 1.5rem;
  max-width: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-flex;
    justify-content: center;
    align-items: center;

  transition: max-width 0.5s ease, opacity 0.2s ease;
  background: white;
}

.tab-label {
  font-size: 1.25rem;
  cursor: pointer;
  display: inline-flex;
    align-items: center;
  transition: max-width 1s ease, opacity 0.2s ease;
  white-space: nowrap;
  background: white;
  /*background: #6c757d;*/
  max-width: 100%;
  /* dynamic width */
}

.no-width {
  max-width: 0 !important;
  transition: max-width 0.2s ease, opacity 0.2s ease;
  /*overflow: hidden;*/
}

.transparent {
  opacity: 0 !important;
}


.tab-label.active {
  color: #001122;
  font-weight: bold;
  cursor: default;
}

.tab-label.remind {
  /* blink animation */
  animation: colorCycle 5s ease 1;
  color: #333333;
  text-shadow: 0 0 2px #51abff;
}

@keyframes colorCycle {
  0% { color: #000000; text-shadow: 0 0 0; }
  20% { color: #333333; text-shadow: 0 0 5px #51abff; }
  40% { color: #111111; text-shadow: 0 0 3px #007bff; }
  60% { color: #333333; text-shadow: 0 0 5px #51abff; }       /* Change to desired color */
  80% { color: #111111; text-shadow: 0 0 3px #007bff; }
  100% { color: #333333; text-shadow: 0 0 2px #51abff; }    /* Back to original color */
}

.fileContainer {
  display: flex;
  flex-direction: column; /* Stack containers vertically */
  /*gap: 1px; !* Optional: Add spacing between containers *!*/
  overflow-y: auto;
  margin: 0;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  /*border-radius: 0.3em;*/
  /*border: 5px solid #ced4da;*/
  /*padding: 1em;*/
  /*max-height: 200px;*/
  font-family: "JetBrains Mono", "Cascadia Mono", monospace;
  box-sizing: border-box;  /* Optional: Includes padding and border in width calculation */
}

.hidden {
  display: none;
}

input.error {
  border-color: #dc3545;
  outline: none;
}

input.error:focus {
  border-color: #dc3545;
}

#search-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.5rem;
  position: absolute;
    right: 0;
    top: 0;
}

.search-button {
  cursor: pointer;
  color: #222222;
  font-size: 1rem;
  font-weight: bolder;
    padding: 0.5rem;
  font-family: math;
}

.search-button.disabled {
  cursor: default;
  color: #bbbbbb;
}


.search-button:hover {
  color: #007bff;
  background: #f0f0f0;
}

.search-button.disabled:hover {
  background: #00000000;
  color: #bbbbbb;
}


